# Directories
/_custom
/_sync
/blender
/btop
/cava
/dconf
/deluge
/discord
/edb
/fontforge
/glava
/gnucash
/gpick
/gpicview
/gummi
/htop
/ibus
/inkscape
/keepassxc
/leafpad
/libreoffice
/lmms
/milkytracker
/nvtop
/ppsspp
/sakura
/Thunar
/xfce4
/zsh-spec

# Files
/karboncalligraphyrc
/krita*
/mimeapps.list
/pavucontrol.ini
/QtProject.conf
