@import url("yaftColors.css");
:root {
	--tab-min-height: 25px !important; /* Tab bar height */

	/* Panels & Popups */
  --arrowpanel-background: var(--yaft-bg-sel) !important;
  --arrowpanel-color: var(--yaft-fg) !important;
  --arrowpanel-border-color: transparent !important;
  --arrowpanel-padding: 0 !important;
  --arrowpanel-border-radius: 0 !important; /* Avoid unaccounted transparency by composer */
  --panel-item-hover-bgcolor: var(--yaft-bg-sel-hover) !important;
  --panel-item-active-bgcolor: var(--yaft-fg) !important;
}

/**
 **  ____  _         _
 ** / ___|| |_ _   _| | ___
 ** \___ \| __| | | | |/ _ \
 **  ___) | |_| |_| | |  __/
 ** |____/ \__|\__, |_|\___|
 **            |___/
 **/
/* Inactive */
#tabbrowser-tabs, /* Whole top section */
#urlbar-background /* Whole tab bar */
	{ background: var(--yaft-bg) !important; }

/* Page inactive */
#PersonalToolbar, /* Bookmarks bar */
#browser, /* Behind-most */
#tabbrowser-tabpanels /* Letterbox */
	{ background: var(--yaft-bg-page) !important; }

/* Active */
.tabbrowser-tab[selected] .tab-background, /* Tab buttons */
.browser-toolbar, /* Navigation and bookmark bar */
#sidebar-box, /* Sidebar */
#sidebar-search-container, #historyTree, #bookmarksPanel, /* Sidebar content */
.urlbarView-row[selected] .urlbarView-row-inner, /* Url results */
.chromeUI #identity-icon-box, /* Button left of url bar */
#urlbar-search-mode-indicator, /* Search engine to use */
#personal-bookmarks /* Bookmarks container */
	{ background: var(--yaft-bg-sel) !important; }

/* Hover */
.tabbrowser-tab:not([selected]):hover .tab-background, /* Tab button */
#tabs-newtab-button:hover .toolbarbutton-icon,  /* New tab button */
.urlbarView-row:hover .urlbarView-row-inner /* Url results */
	{ background: var(--yaft-bg-hover) !important; }

/* "Active" Hover */
.toolbarbutton-1:not([disabled]):hover image,
#bookmarks-view treechildren::-moz-tree-cell(hover), /* Sidebar bookmark entry */
.chromeUI #identity-icon-box:hover, /* Button left of url bar */
#urlbar-search-mode-indicator:hover, /* Search engine to use */
#PlacesToolbar toolbarbutton:hover /* Bookmark button */
	{ background: var(--yaft-bg-sel-hover) !important; }

/* Search box border */
#urlbar-background { border: 2px solid var(--yaft-bg-sel) !important; }

/* Url results separator lines */
.urlbarView-body-inner,
.search-one-offs /* .urlbarView:not([noresults]) > .search-one-offs:not([hidden]) */
	{ border-top: 2px solid var(--yaft-bg-sel) !important; }

#sidebar-box, /* Sidebar title */
.tab-text /* Tab button text */
	{ font-weight: 600; color: var(--yaft-fg) !important; }

/**
 **   ____                   ___
 **  / ___|_ __ __ _ _   _  |_ _|___ ___  _ __  ___
 ** | |  _| '__/ _` | | | |  | |/ __/ _ \| '_ \/ __|
 ** | |_| | | | (_| | |_| |  | | (_| (_) | | | \__ \
 **  \____|_|  \__,_|\__, | |___\___\___/|_| |_|___/
 **                  |___/
 **/
tab .tab-icon, .tab-icon-image,
.menu-iconic-left, .urlbarView,
#userContext-icons, #downloads-button, .sidebar-placesTreechildren,
#identity-icon, .toolbarbutton-icon, .tab-throbber { filter: grayscale(1); }

/**
 **  _                            _
 ** | |    __ _ _   _  ___  _   _| |_
 ** | |   / _` | | | |/ _ \| | | | __|
 ** | |__| (_| | |_| | (_) | |_| | |_
 ** |_____\__,_|\__, |\___/ \__,_|\__|
 **             |___/
 **/
#toolbar-menubar { display: none !important; } /* Hide alt menu */
#navigator-toolbox { border: none !important; } /* Hide bottom border */

/*        _____     _         _
 *  ___  |_   _|_ _| |__ ___ | |__  __ _ _ _
 * |___|   | |/ _` | '_ (_-< | '_ \/ _` | '_|
 *         |_|\__,_|_.__/__/ |_.__/\__,_|_|
 */
.tabbrowser-tab:first-child .tab-background { border-radius: 8px 0 0 0 !important; } /* First tab button corner */
.tabbrowser-tab[last-visible-tab] .tab-background { border-radius: 0 8px 0 0 !important; } /* Last tab button corner */
.tabbrowser-tab { padding: 0 2.5px !important; transition: none !important; } /* Tab buttons spacing & disable animations */
#tabbrowser-arrowscrollbox { padding: 5px 2.5px 0 !important; } /* Space tab bar with window borders */
.tab-label-container { height: 20px !important; } /* Smaller textbox height */
.tab-close-button { display: none !important; } /* Hide tab close button */

/* Expand tab background to whole button and square for middle buttons */
.tab-background { margin: 0 !important; border-radius: 0 !important; }

/* New tab button */
#tabs-newtab-button { margin: 0 !important; padding: 0 1px !important; }
#tabs-newtab-button:hover .toolbarbutton-icon { border-radius: 0 8px 0 0 !important; }

/* Tab button width for inactive/active one */
.tabbrowser-tab[fadein][selected]:not([pinned]) { min-width: 250px !important; }
.tabbrowser-tab[fadein]:not([selected]):not([pinned]) { max-width: 100px !important; }

/*        _  _            _
 *  ___  | \| |__ ___ __ | |__  __ _ _ _
 * |___| | .` / _` \ V / | '_ \/ _` | '_|
 *       |_|\_\__,_|\_/  |_.__/\__,_|_|
 */
#identity-box { margin: 0 2px !important; } /* Url box right next to icons */
#urlbar-search-mode-indicator,
.chromeUI #identity-icon-box { border-radius: 2px 12px 2px 2px !important; }
#star-button-box { display: none; } /* Hide bookmark button) */
#nav-bar toolbarbutton { padding: 0 !important; }
/* #urlbar-input { margin-left: 2.5px !important; } */

/* Feather icons for navigation button and right-click menu */
#back-button,    #context-back    { list-style-image: url("chevron-left.svg")  !important; }
#forward-button, #context-forward { list-style-image: url("chevron-right.svg") !important; }
#reload-button,  #context-reload  { list-style-image: url("circle.svg")        !important; }
#stop-button,    #context-stop    { list-style-image: url("x.svg")             !important; }

/* Clear outline around search bar */
#urlbar-background {
	outline-width: 0 !important;
	box-shadow: none !important;
}

/*        ___           _                  _     _
 *  ___  | _ ) ___  ___| |___ __  __ _ _ _| |__ | |__  __ _ _ _
 * |___| | _ \/ _ \/ _ \ / / '  \/ _` | '_| / / | '_ \/ _` | '_|
 *       |___/\___/\___/_\_\_|_|_\__,_|_| |_\_\ |_.__/\__,_|_|
 */
/* Overlay like tab bra */
#PersonalToolbar { padding: 0 5px !important; }
#personal-bookmarks { border-radius: 0 0 8px 8px !important; }

/* Items concise box */
.bookmark-item             { border-radius: 0 0 3px 3px !important; margin: 0 0 2.5px !important; }
.bookmark-item:first-child { border-radius: 0 0 3px 6px !important; margin: 0 0 2.5px 2.5px !important; }
.bookmark-item:last-child  { border-radius: 0 0 6px 3px !important; margin: 0 0 2.5px 2.5px !important; }

/* #PersonalToolbar */
#PlacesToolbarItems {
	display: flex !important;
	justify-content: center !important;
}

/*        ___ _    _     _
 *  ___  / __(_)__| |___| |__  __ _ _ _
 * |___| \__ \ / _` / -_) '_ \/ _` | '_|
 *       |___/_\__,_\___|_.__/\__,_|_|
 */
#sidebar-splitter { display: none !important; } /* Hide splitter */
#sidebar-box {
	margin-top: 5px !important;
	border-radius: 0 12px 0 0 !important;
}

/*        __  __ _
 *  ___  |  \/  (_)___ __
 * |___| | |\/| | (_-</ _|
 *       |_|  |_|_/__/\__|
 */

.menupopup-arrowscrollbox { border-radius: 0 !important; } /* Avoid unaccounted transparency by composer */
arrowscrollbox { margin: 0 !important; } /* Eliminate annoying border around popup menus */
