/* Custom buttons */
#back-button,
#context-back    { list-style-image: url("../icons/back.svg")  !important; }
#forward-button,
#context-forward { list-style-image: url("../icons/forward.svg") !important; }
#reload-button,
#context-reload  { list-style-image: url("../icons/play.svg") !important; }
#stop-button,
#context-stop    { list-style-image: url("../icons/pause.svg") !important; }
#unified-extensions-button {
	list-style-image: url("../icons/triangle.svg") !important;
}
#PanelUI-menu-button {
	list-style-image: url("../icons/menu.svg") !important;
}

/* Clear outline around search bar */
#urlbar-background {
	outline: none !important;
	border: none !important;
	border-radius: 0 !important;
}

/* Clear search bar padding */
#urlbar,
#urlbar-container {
	padding: 0 !important;
	margin: 0 !important;
}

/* No shadow */
#nav-bar {
	box-shadow: none !important;
}

/* Remove button padding */
#nav-bar .toolbarbutton-1 {
	padding: 0 !important;
}

/* Center reload button */
#stop-reload-button image { padding: 8px !important; }
/* Hide animation alt-button */
.toolbarbutton-animatable-box { display: none !important; }

/*
 * Move navigation bar to bottom of window
 * Reddit: https://libreddit.tiekoetter.com/r/FirefoxCSS/comments/fb54kp/how_can_i_move_the_urlbar_to_the_bottom_of_the/
 * Github: https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/navbar_below_content.css
 */
#browser,
#customization-container {
	margin-bottom: calc(30px + var(--toolbarbutton-outer-padding))
}

#nav-bar {
	position: fixed !important;
	bottom: 0px;
	display: -webkit-box;
	width: 100%;
	z-index: 1;
}
#nav-bar-customization-target { -webkit-box-flex: 1; }

/* Fix panels sizing */
.panel-viewstack { max-height: unset !important; }

#urlbar[breakout][breakout-extend] {
	display: flex !important;
	flex-direction: column-reverse;
	bottom: 0 !important;
	top: auto !important;
}

.urlbarView-body-inner { border-top-style: none !important; }
