@import "config.css";

:root {
	--in-content-page-background: var(--background) !important;
	--in-content-page-color: var(--foreground) !important;

	/* Accent (Radio/Checkbox color) */
	--in-content-primary-button-background: var(--foreground) !important;
	--in-content-primary-button-background-hover: var(--foreground) !important;

	/* Button */
  --button-bgcolor: var(--background-light) !important;
  --button-hover-bgcolor: var(--background-light) !important;
	--button-active-bgcolor: var(--background-light) !important;
	--in-content-button-background: var(--background-light) !important;
	--in-content-button-background-hover: var(--background-light) !important;
	--in-content-button-background-active: var(--foreground) !important; /* clicked */

	/* List/Box */
	--in-content-box-background: var(--background-light) !important;
	--in-content-box-border-color: var(--background-light) !important;
	--in-content-box-background-odd: var(--background) !important;
}
